html{
    display: block;
    padding: 0;
    font-family:Quicksand, Arial, sans-serif;
    background: #c7e0ea;

}

h1{
    text-align: left;
    font-style: normal;
    font-size: 20px;
    color: #1f2d19;

}

#signIn {
    padding: 15em;
}

button#enterButton {
    background-color: #8ec2ce;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

input#nameInput {
    width: 75%;
    border-style: solid;
    border-radius: 5px;
    border-color: #8ec2ce;


}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
